APP_ENV=development
SECRET_KEY=supersecretkey
VNP_TMNCODE=FZMVJBWE
VNP_HASHSECRET=XFRQRFDTCVL3H838S6DAMQDVV1TJRNDA
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:8000/api/v1/payment/vnpay_return

# Telegram Notification Settings
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_default_chat_id_here
